<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TMM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckUserNameServlet</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.huida.servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResignServlet</display-name>
    <servlet-name>ResignServlet</servlet-name>
    <servlet-class>com.bin.servlet.ResignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResignServlet</servlet-name>
    <url-pattern>/rs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bin.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/ls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.bin.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/as</url-pattern>
  </servlet-mapping>
</web-app>